{% load static %}
{% static "images" as baseUrl %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Posts</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
      <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}">

    <style>

        .data{
        position: absolute;
        }

    </style>

</head>
<body style="background-color:#eafaf1   ; background-repeat: no-repeat;">
<nav style="background-color:white"class= "navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><b>QUEST</b></a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Logout</a></li>
    </ul>
  </div>
</nav>
<div class="container">
    <h1>Search Your Posts</h1>
    <form method="post" action="search">
        {% csrf_token %}
        <div class="form-group">
            <div class="col-lg-5">
                <input type="text" name="srh" class="form-control" placeholder="Enter name, city or title" autocomplete="on" style="position: relative; left:-15px;">
            </div>
            <label class="col-lg-2">
                <button type="submit" class="btn btn-danger">Search</button>
            </label>
        </div>
    </form>
    <br><br>
<div>
    {% if messages %}
        <ul class="messages">
            {% for k in messages %}
            <li style="color: red;">{{ k }}</li>
        {% endfor %}
        </ul>
    {% endif %}
</div>
    <br>
    <div style="color: black;">
        {% if sr %}
            {% for k in sr %}


            <table border="0px" width="200px">
            <tr>
                <td>First Name</td>
                <td class="data">{{ k.firstname }}</td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td class="data">{{ k.lastname }}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td class="data">{{ k.email}}</td>
            </tr>
            <tr>
                <td>Phone</td>
                <td class="data">{{ k.phone }}</td>
            </tr>
            <tr>
                <td>Country</td>
                <td class="data">{{ k.country }}</td>
            </tr>
            <tr>
                <td>City</td>
                <td class="data">{{ k.city }}</td>
            </tr>
                <tr>
                <td>Category</td>
                <td class="data">{{ k.category }}</td>
            </tr>
                <tr>
                <td>Post Title</td>
                <td class="data">{{ k.posttitle }}</td>
            </tr>
                <tr>
                <td>Description</td>
                <td class="data">{{ k.description }}</td>
            </tr>
                <tr>
                <td style="width: 300px; height: 300px;">Add Image</td>
                <td class="data">{% if k.image %}
                  <img src="{{ k.image.url }}">
                  {% endif %}
                </td>
            </tr>
            <tr>
                <td>Price</td>
                <td class="data">{{ k.price }}</td>
            </tr>
            </table>
        <br><br>
         <tr>
               <td>
                   <button type="button" class="btn btn-dark" style="background-color:  #1A9233 ;">
                    <a href="{% url 'update' k.id %}" style="color: white; text-decoration: none;">
                        Update
                    </a>
                </button>
                   <a href="/delete/{{ k.id }}" class="btn btn-danger" style="background-color:  #B52521 ;" >Delete</a>
               </td>
         </tr>
        <hr>
            {% endfor %}
        {% endif %}
    </div>
</div>
</body>
</html>